{
  "presets": [
    "next/babel",
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
      }
    }],
    ["babel-plugin-styled-components", {
      "ssr": true, 
      "displayName": true, 
      "preprocess": false 
    }]
  ]
}
